<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tabla de Películas</title>    
</head>
<body>
    <div class="container mt-5">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Fecha de estreno</th>
                    <th>Cantidad de público</th>
                    <th>Foto de portada</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pelicula of peliculas" (click)="seleccionarPelicula(pelicula)">
                    <td>{{ pelicula.nombre }}</td>
                    <td>{{ pelicula.tipo }}</td>
                    <td>{{ pelicula.fechaEstreno }}</td>
                    <td>{{ pelicula.cantidadPublico }}</td>
                    <td><img src="{{ pelicula.fotoPelicula }}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Agregar el enlace al archivo JavaScript de Bootstrap si es necesario -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.min.js"></script> -->
</body>
</html>
